<div class="page-content-row">
    <div class="portlet light portlet-fit bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Your Holdings</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless">
                <table id="holdings" class="table table-hover table-light">
                    <thead>
                        <tr class="uppercase">
                            <th> Symbol </th>
                            <th> Name </th>
                            <th> Category </th>
                            <th> Price </th>
                            <th> Quantity Owned </th>
                            <th> Total capital invested </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>